/* Custom radio button style */
.custom-radio-input {
	opacity: 0;
	position: absolute;
	width: 24px;
	height: 24px;
	margin: 0;
	z-index: 1;
	cursor: pointer;
}
.custom-radio {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #d1d3d4;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	transition: background 0.2s, border 0.2s;
}
.custom-radio-input:checked + .custom-radio {
	background: #d1d3d4;
	border: 2px solid #d1d3d4;
}
.custom-radio-input:checked + .custom-radio::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50%;
	display: block;
	transform: translate(-50%, -50%);
}
/* Forcer l'input de react-datepicker à prendre toute la largeur */
.react-datepicker__input-container input {
	width: 100% !important;
	box-sizing: border-box;
}
@import 'tailwindcss';
@import 'react-datepicker/dist/react-datepicker.css';

:root {
	--font-campton: 'Campton', sans-serif;
	--font-sans: var(--font-campton);
	--color-red: #cf1039;
	--color-yellow: #fdca16;
	--color-blacknews: #3d3d3d;
	--color-lightgray: #f5f5f5;
	--color-copygray: #acacac;
}

@theme inline {
	--font-sans: var(--font-campton);
	--color-red: #cf1039;
	--color-yellow: #fdca16;
	--color-blacknews: #3d3d3d;
	--color-lightgray: #f5f5f5;
	--color-copygray: #acacac;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.decoratedRed {
	position: relative;
	display: inline-block;
	color: white;
	text-transform: uppercase;
}

.decoratedRed::before {
	content: '';
	z-index: -1;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% + 30px);
	height: calc(100% + 20px);
	background: var(--color-red);
	clip-path: polygon(
		0% 99.02%,
		2.67% 0%,
		99.81% 14.35%,
		99.81% 91.33%,
		0% 99.02%
	);
}

.decoratedYellow {
	position: relative;
	display: inline-block;
	color: black;
}

.decoratedYellow::before {
	content: '';
	z-index: -2;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% + 30px);
	height: calc(100% + 30px);
	background: var(--color-yellow);
	clip-path: polygon(
		99.92% 99.06%,
		0% 86.41%,
		0.36% 13.82%,
		97.94% 0%,
		99.92% 99.06%
	);
}
